<table class="table">
  <thead>
  <tr>
    <th class="cell__average" (click)="sortNumbers()">№</th>
    <th class="cell__average" (click)="sortNames()">ФИО</th>
    <th class="cell__average" (click)="sortCourse()">Группа, курс</th>
    <th class="cell__average" (click)="sortBirth()">День рождения</th>
    <th class="cell__average" (click)="sortYear()">Возраст</th>
    <th class="cell__average" (click)="sortMarks()">Средний балл</th>
  </tr>
  </thead>
  <tbody>
  <tr [ngClass]="{bad__cell: isBad(student.mark), good__cell: isGood(student.mark),
  medium: isMedium(student.mark), none: markMode, readline: contain(student.name, request)}"
      *ngFor="let student of students; let i = index">
    <td> {{i + 1}} </td>
    <td> {{student.name}} </td>
    <td> {{student.group}}, {{student.course}} </td>
    <td> {{student.birth.getDate()}} {{ parseMonth(student.birth.getMonth()) }} </td>
    <td> {{now - student.birth.getFullYear()}} </td>
    <td> {{student.mark}} </td>
  </tr>
  </tbody>
</table>
