.table {
  font-size: 1.2em;
  font-family: "Book Antiqua", serif;
  padding: 10px;
  width: 100%;
  border-style: double;
  border-color: black;
  border-width: 1px;
}
.bad__cell {
  background: rgba(255,85,62,0.3);
}
.good__cell {
  background: rgba(17,108,34,0.3)
}
.none {
  background: none;
}
