<table class="table">
  <thead>
  <tr>
    <th class="cell__numbers" [stylesToggle]="['sort-down', 'sort-up']"
        (clickedOnSort)="sortingByNumberPropertyTest('record_book_number', $event)">№</th>
    <th class="cell__string" [stylesToggle]="['sort-down', 'sort-up']"
        (clickedOnSort)="sortingByNumberPropertyTest('name', $event)">ФИО</th>
    <th class="cell__string" [stylesToggle]="['sort-down', 'sort-up']"
        (clickedOnSort)="sortingByNumberPropertyTest('name', $event)">Группа, курс</th>
    <th class="cell__string" (click)="sortingByBirth('birth')"
        [stylesToggle]="['sort-down', 'sort-up']">День рождения</th>
    <th class="cell__numbers" (click)="sortingByAge('birth')"
        [stylesToggle]="['sort-down', 'sort-up']">Возраст</th>
    <th class="cell__numbers" [stylesToggle]="['sort-down', 'sort-up']"
        (clickedOnSort)="sortingByNumberPropertyTest('name', $event)">Средний балл</th>
  </tr>
  </thead>
  <tbody>
  <tr [ngClass]="{
       mark__bad: isBadMark(student.mark),
       mark__good: isGoodMark(student.mark),
       mark__medium: isMediumMark(student.mark),
       mark__none: highlightMarkMode,
       hidden: !nameContainRequest(student.name, searchRequest) ||
       !filtrationByDate(student.birth, dateFiltrationBorders) ||
       !filtrationByMark(student.mark, markFiltrationBorders)}"
      *ngFor="let student of studentsList">
    <td class="cell__numbers"> {{student.recordBookNumber}} </td>
    <td> {{student.surname}} {{student.name}} {{student.secondName}} </td>
    <td> {{student.group}}, {{student.course}} </td>
    <td> {{student.birth | date:"dd MMMM"}} </td>
    <td class="cell__numbers"> {{studentCurrentAge(student.birth.getFullYear())}} </td>
    <td class="cell__numbers"> {{student.mark}} </td>
    <td [ngClass]="{edit: true, hidden: removingModeOff}">
      <button class="button_edit" (click)="startEditStudentInformation(student)">✎</button>
      <button class="button_remove" (click)="startRemoving(student.recordBookNumber, student.name)">⛌</button>
    </td>
  </tr>
  </tbody>
</table>
<app-popup *ngIf="showPopup" (answerInput)="confirmationReceived($event)"
           [studentName]="studentRemovingName"></app-popup>
<app-edit-form *ngIf="showWindowCreate || showWindowEdit"
               [showWindowCreate]="showWindowCreate"
               [showWindowEdit]="showWindowEdit"
               [editThisRecord]="editThisRecord"
               (createNewRecord)="addNewRecord($event)"
               (updateRecord)="updateRecord($event)"
               (cancelCreating)="cancelPressed()"
               (cancelEdit)="cancelPressed()"></app-edit-form>
