@font: "Book Antiqua", serif;
.panel {
  font-family: @font;
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 1em;
  &__new_student{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    button {
      margin: 0.5em;
      flex-grow: 1;
      outline: none;
      border: 1px rgba(14, 66, 24, 0.5) solid;
      background: #004000;
      color: white;
      display: flex;
      & span {
        flex-grow: 1;
        margin: auto;
        font-family: "Times New Roman", serif;
        font-size: 2.2em;
        text-align: center;
      }
      &:hover {
        border: 1px rgb(14, 66, 24) solid;
      }
      &:active {
        background: white;
        color: green;
      }
    }
  }
  &__settings {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
    & input {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  &__filtrationByDate {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    & span {
      text-align: center;
    }
    & label {
      margin: auto;
    }
  }
  &__filtrationByMark {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    & span {
      text-align: center;
    }
    & label {
      margin: auto;
      display: flex;
      flex-direction: column;
    }
  }
  &__filtrationReset {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    & span {
      text-align: center;
    }
    & button {
      margin: auto;
      outline: none;
      color: rgba(0, 0, 0, 0.3);
      background: white;
      border: 1px rgba(0, 0, 0, 0.3) solid;
      &:hover {
        color: rgba(0, 0, 0, 0.7);
        border: 1px rgba(0, 0, 0, 0.7) solid;
      }
      &:active {
        color: white;
        border: 1px rgba(0, 0, 0, 1) solid;
        background: black;
      }
    }
  }
}
.search {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-family: @font;
  & input {
    font-size: 1.2em;
    font-family: @font;
    outline: none;
    margin-left: 5%;
    margin-right: 5%;
  }
}
