<div class="panel">
  <div class="panel__settings">
    <span>Внешний вид таблицы:</span>
    <label><input type="checkbox" (click)="toggleHighlightMode()">Подсветка оценок</label>
    <label><input type="checkbox" (click)="toggleRemoveMode()">Кнопки удаления</label>
  </div>
  <div class="panel__filtrationByDate">
    <span>Фильтровать по дате рождения:</span>
    <label>
      <input type="date" [(ngModel)]="dateBorderLeft">
      <input type="date" [(ngModel)]="dateBorderRight">
    </label>
  </div>
  <div class="panel__filtrationByMark">
    <span>Средний балл: от {{markBorderLeft}} до {{markBorderRight}}</span>
    <label>
      <input type="range" min="0" max="5" [(ngModel)]="markBorderLeft">
      <input type="range" min="0" max="5" [(ngModel)]="markBorderRight">
    </label>
  </div>
  <div class="panel__filtrationReset">
    <span>Сбросить фильтр</span>
    <button (click)="resetAllFiltration()">✕</button>
  </div>
  <label class="search">
    <span>Поиск студента:</span>
    <input type="search" (input)="startSearching(searchRequest)" [(ngModel)]="searchRequest">
  </label>
</div>
