.panel_toggle {
  position: absolute;
  left: 10%;
  top: 10%;
  padding: 10px;
  color: black;
  background: rgba(146,149,86,0.51);
  border: 1px solid rgb(146, 149, 86);
  outline: none;
  font-size: 1.2em;
  font-family: "Book Antiqua", serif;
  &:hover {
    background: rgba(146,149,86,0.75);
  }
  &:active {
    background: rgb(146, 149, 86);
  }
}
