<div class="main">
  <app-button-toggle class="panel"
                     (RemoveMode)="isRemoving($event)"
                     (Changed)="onChange()"
                     (GetDateInterval)="set_FiltrationInterval($event)"
                     (GetMarkInterval)="set_MarkFiltrationInterval($event)"
                     (Input)="search($event)">
  </app-button-toggle>
  <app-target-table [markMode]="mode"
                    [request]="searchRequest"
                    [removingMode]="removingMode"
                    [dateFiltrationInterval]="dateFiltrationInterval"
                    [markFiltrationInterval]="markFiltrationInterval"
                    class="table-inside">
  </app-target-table>
</div>

