<div>
  <app-button-toggle (removeModeToggle)="toggleRemoveMode()"
                     (markHighlightToggle)="toggleHighlightMode()"
                     (dateIntervalSet)="dateFiltrationBorders = $event"
                     (markIntervalSet)="markFiltrationBorders = $event"
                     (searchRequestInput)="searchRequest = $event">
  </app-button-toggle>
  <app-target-table [highlightMarkMode]="highlightMarkMode"
                    [searchRequest]="searchRequest"
                    [removingModeOff]="removingModeOff"
                    [dateFiltrationBorders]="dateFiltrationBorders"
                    [markFiltrationBorders]="markFiltrationBorders">
  </app-target-table>
</div>
