<div>
  <app-button-toggle (removeModeToggle)="toggleRemoveMode()"
                     (markHighlightToggle)="toggleHighlightMode()"
                     (dateIntervalSet)="dateFiltrationBorders = $event"
                     (markIntervalSet)="markFiltrationBorders = $event"
                     (creatingModeToggle)="toggleCreatingMode()"
                     (searchRequestInput)="searchRequest = $event">
  </app-button-toggle>
  <app-target-table [highlightMarkMode]="highlightMarkMode"
                    [searchRequest]="searchRequest"
                    [removingModeOff]="removingModeOff"
                    [showWindowCreate]="showWindowCreate"
                    [dateFiltrationBorders]="dateFiltrationBorders"
                    [markFiltrationBorders]="markFiltrationBorders"
                    (creatingTurnOff)="toggleCreatingMode()">
  </app-target-table>
  {{runChangeDetection}}
</div>
